body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    background-color: #030303eb;
    color: #d4d2d2ba;
  }
  
  .tickets-logo{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
  }
  .purple-line{
    padding: 2px;
    background-color: #7833bdfc;
  }
  .search-field{
    width: 95%;
    padding:10px;
    border: 1px solid #d4d2d25c;
    background-color: inherit;
    color: white;
  }
  .main-content{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    margin-top: 10px;
  }
  .tickets-navigate{
    width: 30%;
  }
  
  .tickets-list{
    overflow-y: scroll;
      padding: 15px;
      background-color: #d4d2d217;
      max-height: 100vh;
  }
  .tickets-list::-webkit-scrollbar{
    width: 14px;
    background-color: #03030338;
  }
  .tickets-list::-webkit-scrollbar-thumb{
    background-color: #d4d2d247;
  }
  .ticket{
    list-style: none;
    border-top: 0.5px solid black;
  }
  .ticket-page{
    background-color:#d4d2d217;
      width: 70%;
      padding: 20px;
      margin-left: 20px;
  }
  .about-ticket{
    border: 1px solid #0303036b;
    margin-bottom: 20px;
  }
  .about-ticket__hat{
    background-color: #03030338;
      margin-top: 0;
      margin-bottom: 0;
      padding: 10px;
  }
  .ticket-icon{
    width: 50px;
    border-radius: 50%;
  }
  .ticket-list_icon{
    width: 40px;
    border-radius: 50%;
  }
  .ticket-list_item{
    color: #d4d2d285;
    align-items: center;
    font-size: 10px;
    padding: 20px;
    list-style: none;
    justify-content: space-around;
    display: flex;
    border-top: 0.5px solid black;
  }
  .ticket-list_reported,.ticket-list_name,.ticket-list_status{
    margin-left: 12px;
  }
  .about-ticket_main-content{
    padding: 15px;
  }
  .ticket-page-header{
    margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
  }